version: "3.8"

services:

  chirpstack:
    image: chirpstack/chirpstack:4
    command: -c /etc/chirpstack
    restart: unless-stopped
    volumes:
      - type: bind
        source: ./configuration/chirpstack
        target: /etc/chirpstack
    environment:
      - MQTT_BROKER_HOST=mosquitto
      - REDIS_HOST=redis
      - POSTGRESQL_HOST=postgres
    depends_on:
      - postgres
      - redis
      - mosquitto
    ports:
      - "8081:8080"

  chirpstack-gateway-bridge:
    image: chirpstack/chirpstack-gateway-bridge:4
    restart: unless-stopped
    volumes:
      - type: bind
        source: ./configuration/chirpstack-gateway-bridge
        target: /etc/chirpstack-gateway-bridge
    ports:
      - "1700:1700/udp"
    depends_on:
      - mosquitto

  chirpstack-gateway-bridge-basicstation:
    image: chirpstack/chirpstack-gateway-bridge:4
    command: -c /etc/chirpstack-gateway-bridge/chirpstack-gateway-bridge-basicstation-eu868.toml
    restart: unless-stopped
    volumes:
      - type: bind
        source: ./configuration/chirpstack-gateway-bridge
        target: /etc/chirpstack-gateway-bridge
    ports:
      - "3001:3001"
    depends_on:
      - mosquitto

  chirpstack-rest-api:
    image: chirpstack/chirpstack-rest-api:4
    command: --server chirpstack:808q --bind 0.0.0.0:8091 --insecure
    restart: unless-stopped
    ports:
      - "8091:8090"
    depends_on:
      - chirpstack

  postgres:
    image: postgres:14-alpine
    restart: unless-stopped
    environment:
      - POSTGRES_USER=chirpstack
      - POSTGRES_PASSWORD=chirpstack
      - POSTGRES_DB=chirpstack
    volumes:
      - type: volume
        source: postgresqldata
        target: /var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    restart: unless-stopped
    command: redis-server --save 300 1 --save 60 100 --appendonly no
    volumes:
      - type: volume
        source: redisdata
        target: /data

  mosquitto:
    image: eclipse-mosquitto:2
    restart: unless-stopped
    ports:
      - "1883:1883"
    volumes:
      - type: bind
        source: ./configuration/mosquitto/config
        target: /mosquitto/config

volumes:
  postgresqldata:
  redisdata:
